body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14pt;
  margin-top: 55px;
}

header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
  margin: 10px;
}

.container {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

#home-img1 {
  background-image: url(lights.jpeg);
  background-size: center center;
  background-size: cover;
  height: 100%;
}

#bio-img1 {
  background-image: url(ombre_sky.jpeg);
  background-size: center center;
  background-size: cover;
  height: 100%;
}

#projects-img1 {
  background-image: url(yellow_houses.jpeg);
  background-size: center center;
  background-size: cover;
  height: 100%;
}

#contact-img1 {
  background-image: url(crater_lake.jpeg);
  background-size: center center;
  background-size: cover;
  height: 100%;
}

.background-attachment-fixed {
  background-attachment: scroll;
}

#home-page {
  display: grid;
  grid-template-rows: 1fr 2fr 1.5fr;
}

#home-text1 {
  text-align: center;
  grid-row: 2;
}

.bio-text,
.home-text {
  background-color: rgba(167, 189, 231, 0.404);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card {
  background-color: rgba(167, 189, 231, 0.726);
  border-radius: 3px;
}

.projects-card {
  margin-bottom: 20px;
}

a {
  color: rgb(73, 73, 146);
}

#contact-info > img {
  max-height: 400px;
  width: auto;
  object-fit: cover;
  object-position: left 70%;
}

.my-contacts {
  display: grid;
  grid-template-columns: auto auto auto;
}
